web/log/*
nginx/log/*
db/data/*


__pycache__

node_modules
- /dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*




!.gitkeep
classification/tmp_data.txt
classification/tmp_model.bin
classification/tmp_model.vec
