


[mysqld]
port=3306
character-set-server=utf8mb4
collation-server=utf8mb4_bin
explicit-defaults-for-timestamp=1
general-log-file=/var/log/mysql/mysqld.log # ログの出力先
general_log=1



[client]                           
port=3306
default-character-set=utf8mb4
